DB_HOST=${db_host}
DB_PORT=${db_port}
ADMIN_USER=${admin_user}
ADMIN_PASSWORD=${admin_password}
APP_USER=${app_user}
APP_PASSWORD=${app_password}
DB_NAME=${db_name}
CA_URL=${ca_bundle_url}
CA_PATH=/opt/walfa/secrets/mysql-ca.pem
